{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <v-app v-cloak>
            <v-main>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-main>
        </v-app>
    </div>
{% endblock %}